:root {
    --primary-color: rgb(136, 97, 255);
--secondary-color: rgb(240, 243, 255);
}

body {
    margin: 0;
    padding: 0;
    background-color:var(--secondary-color);
    /*font-family: ;*/
}

.container__wrapper {
    background-color: white;
    margin: 30px 375px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.142);
}

.search-bar {
    border-style: none;
}

/*.search-bar selected {
    
}*/

.search-btn {
    background-color: var(--primary-color);
    border-style: none;
    border-radius: 5px;
    padding: 20px;
    color: white;
}

.search-btn:hover {
cursor: pointer;
background-color: var(--primary-color);
opacity: 0.85;
}

.city__temp {
display: flex;
justify-content: space-between;
padding: 0;
}

.current-temp {
    display: flex;
}

.city__info {
    padding: 10px;
    /*background-color: gray;*/
}

.city__temp--info {
    font-size: 20px;
    line-height: 0.5;
    opacity: 0.65;
}

h1 {
    font-size: 56px;
}

h2 {
    font-size: 36px;
}

 .forecast ul {
display: flex;
 }

 li {
list-style: none;
margin: 20px;
padding: 20px;
background-color: rgba(128, 128, 128, 0.456);
 }

 footer p{
    text-align: center;
    color: rgba(0, 0, 0, 0.516);
font-size: 16px; 
}

 footer a {
    color:blueviolet;
 }